/bbs
/bbs-*/
/configure
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.guess
/install-sh
/Makefile
/autom4te.cache
/autoscan.log
/configure.scan
/.deps
/stamp-h1
/bbs-*.tar.gz
/Makefile.in
/depcomp
/aclocal.m4
/missing
/compile
*~
*.o
*.a
*.so
core
core.*
vg_core.*
vgcore.*
CVS/
eraseme.*
foo.*
*.gcda
*.gcno
*.gcov
gmon.out
.*.swo
.*.swp
tags
TAGS
